nvim/plugged
nvim/init.vim
nvim/init.lua nvim/lua/init-home-manager.lua

alacritty/alacritty.toml

atuin/

node_modules/

coc/extensions/
coc/memos.json
coc/history.json
coc/list-commands-history.json

configstore

tmux/tmux.conf

starship.toml

karabiner/automatic_backups/

github-copilot/

result
